# LLM Configuration
GEMINI_API_KEY=""
EMBEDDING_MODEL=gemini-embedding-2-preview

# Qdrant Configuration
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION_NAME=stock-market
EMBEDDING_DIMENSIONS=3072
 
 